.product-card{
    background-color: #fff;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.02);
    border: 1px solid #eaeaea;
    border-radius: 3px;
    overflow: hidden;
}
.product-card > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.view_btn{
    background-color: #eaeaea;
    font-size: .75rem;
    padding: 0.25rem 0.75rem;
    border-radius: 3px;
    text-transform: uppercase;
}